
:root {
    font-size: 16px;
}
       
*{
    padding: 0;
    margin: 0;
    list-style-type: none;
 }   

body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

a, button{
    text-transform: uppercase;
}

button{
    border: 2px solid;
    background: none;
    padding: 15px;
    
}

hr{
    border: 0;
    width: 100px;
    border-top: 1px solid #fff;
    margin-bottom: 50px;
} 

h1, h2, h3, h4, h5,h6{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}

h1{
    font-size: 3.7rem;
    line-height: 3.7rem;
}

p{
    margin-top: 30px;
    text-wrap: justify;
    line-height: 30px;
}
.topbar{
    display:flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    height: 60px;
}

.topbar ul{
    align-items: center;
    display: flex;
    text-transform: uppercase;
}

.topbar ul li{
    margin-left: 30px;

}

.splash{
    position: relative;
    height: 650px;
    background-color:hsl(256, 26%, 20%);
    color: #fff;
}

.splash .container{
    
    margin-left: auto;
    margin-right:auto;
    display:flex;
    justify-content: space-between;
    padding: 100px 100px 0px 100px;
    flex-wrap: none;
    align-items: flex-start;
}

.splash .container .text{
    flex-shrink:0;
    padding-right: 30px;
    width: 440px;
}

.splash .container .text button{
    padding: 15px;
    font-weight: bold;
    font-size: 1.;
    margin-top: 50px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
}

.splash .container img{
    height: 100%;
    margin-top: 0;
}

.decor-left, .decor-right{
    position: absolute;
}

.decor-left{
    bottom: -340px;
    left: 0;
}

.decor-right{
    top: 0;
    right: 0;
}


.different{
    padding: 300px 100px 100px 100px;
}

.different hr{
    border-top: 1px solid rgba(0,0,0,0.5);
}

.different ul{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.different ul li{
    padding-right: 40px;
    line-height: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    width: 200px;
    min-width: 200px;
    max-width: 300px;
}

.different ul li:nth-of-type(3){
    padding-right: 0;
}

.different h1{
    margin-bottom: 50px;
}

.different h2{
    margin: 20px 0;
}

.how-we-work{
    position: relative;
    background:hsl(256, 26%, 20%);
    margin:  50px 100px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    padding:  50px 75px;
    overflow: hidden;
}

.how-we-work .decor-right{
    position: absolute;
    right: 0;
    top: -200px;
}

.how-we-work h1{
    width: 600px;
}

.how-we-work button{
    border-color: #fff;
    color: #fff;
}

.footer{
    padding:  50px 100px;
    overflow: hidden;
    position: relative;
}

.footer hr{
    border-top: 1px solid rgb(0,0,0,0.2);
    margin-top: 25px;
    width: 100%;
    
}

.footer-social{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social ul li{
    margin-left: 10px;
    display:inline;
    color: rgba(0,0,0,0.8);
}

.footer-main{
    display:flex;
    justify-content: space-between;
    padding-right: 150px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}

.footer-main span{
    display: block;
    text-transform: uppercase;
    margin-bottom:20px;
    color: rgba(0,0,0,0.6);
}

.footer .decor-left{
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


   

@media screen and (max-width: 375px){
       
   *{
       margin:auto;
       text-align: center;
   } 

    .topbar{
        display: flex;
        align-items: flex-start;
        height: 50px;
        text-align:left;
        padding: 0 25px;
    }

    .topbar img{
        margin-left: 0;
    }

    .topbar ul{
        display: none;
        padding: 0;
        margin: 0;
    }
    
    .splash{
        padding: 0px;
        height: auto;
    }

    .splash h1{
        font-size: 3.2rem
    }

    .splash .container{
        padding: 0;
        width: 100%;
        margin:auto;
        display:flex;
        flex-direction: column-reverse;
    }

    .splash .container .splash-image{
        width: 100%;
    }

    .splash hr{
        display: none;
    }

    .splash .container .text{
        width: 80%;
        text-align:center;
        align-self:center;
        padding: 60px 0;
    }


    .different{
        padding: 0px;
        padding-top: 60px;
        width: 80%;
        margin: auto;
    }

    .different ul{
        flex-direction: column;
        margin: 0;
        padding; 0;
    }

    .different ul li{
        max-width: 600px;
        min-width: 300px;
        padding-right: 0;
        padding-left: 0;    
    }

    .how-we-work{
        width: 90%;
        margin: auto;
        margin-top: 100px;
        padding: 25px 0;
        flex-direction: column;
    }

    .how-we-work h1{
        font-size:2.5rem;
        width: 80%;
    }

    .footer{
        margin-top: 100px;
        justify-content:center;
    
    }

    .footer-social{
        flex-direction: column;
        justify-items: center;
        align-items:center;
    }

    .footer-logo{
        margin-bottom: 20px;
     }

     .footer-main{
         flex-direction: column;
         width: 100%;
         margin: auto;
     }

     .footer-main ul li{
         margin: 0;
         padding: 0;
         align-items: center;
         100%;
     }

     .footer-main div{
         margin-top: 50px;
     }
}